<div id="contentDrop" class="f-dropdown content medium" data-dropdown-content="" aria-hidden="true" tabindex="-1" style="position: absolute; left: -99999px; top: 338.766px;">
  <h4>Title</h4>
  <p>Some text that people will think is awesome! Some text that people will think is awesome! Some text that people will think is awesome!</p>
  <img src="../assets/img/examples/comet.jpg" alt="a flying comment">
  <p>More test.</p>
  <a class="button" onclick="alert('This button can be replaced with an anchor with a role value of button if it\'s truly a hyperlink.');">Button</a>
</div>
